{% extends 'layout.twig' %}
{% block title %}Add Artcile{% endblock %}

{% block content %}
	<article>
		<h1>{{ article.title }}</h1>
		<p>
			{{ article.body }}
		</p>
		{% if tags is not empty %}
			<p>
				tags :
				{% for tag in tags %}
					<a class="tag" href="{{ app.url_generator.generate('tagSearch', {tagId: tag.id}) }}">{{ tag.name }}</a>
				{% endfor %}
			</p>
		{% endif %}
		<section>
			{% if comments is defined and comments is not empty %}
				<h3>Commentaires :</h3>
				<ul>
					{% for comment in comments %}
						<li>{{ comment.content }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if user is not empty %}
				<h3>Ajouter un commentaire :</h3>
				<form action="" method="post">
					<textarea name="comment"></textarea>
					<input type="submit" value="Commenter">
				</form>
			{% endif %}
		</section>
	</article>
{% endblock %}