<!doctype html>
<html lang="en">
<head>
	<head>
        {% block head %}
			<meta charset="UTF-8">
    		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
            <title>Blog | {% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
        {% endblock %}
    </head>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{ app.url_generator.generate('home') }}">Acceuil</a></li>
				{% if user is empty %}
					<li><a href="{{ app.url_generator.generate('login') }}">Login</a></li>
					<li><a href="{{ app.url_generator.generate('register') }}">Créer un compte</a></li>
				{% elseif type == 'admin' %}
					<li><a href="{{ app.url_generator.generate('getAdmin') }}">Admin</a></li>
					<li><a href="{{ app.url_generator.generate('getTags') }}">Ajouter tag</a></li>
					<li><a href="{{ app.url_generator.generate('getCommentList') }}">Commentaires</a></li>
					<li><a href="{{ app.url_generator.generate('logout') }}">Logout</a></li>
				{% else %}
					<li><a href="{{ app.url_generator.generate('logout') }}">Logout</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<footer>
		
	</footer>
</body>
</html>