{% extends 'layout.twig' %}
{% block title %}Search by Tag{% endblock %}

{% block content %}
	{% if tagSearch[0] is defined %}
		<h1>results for tag "{{ tagSearch[0]['name'] }}"</h1>
		<section id='tag-search'>
			{% for article in tagSearch %}
				<article>
					<h2><a class="article" href="{{ app.url_generator.generate('renderArticleById', {articleId: article.articlesId}) }}">{{ article.title }}</a></h2>
					<p>
						{{ article.body }}
					</p>
					{% if article.tags is defined %}
						<p class="tag-text">
							tags :
							{% for tag in article.tags %}
								<a class="tag" href="{{ app.url_generator.generate('tagSearch', {tagId: tag.id_tag}) }}">{{ tag.name }}</a>
							{% endfor %}
						</p>
					{% endif %}
				</article>
			{% endfor %}
		</section>
	{% else %}
		<section>
			<p>No article has this tag</p>
		</section>
	{% endif %}
{% endblock %}